<div class="Header"  [ngStyle]="{'left':  (isOpen$ | async) ? '291px' : '0px'}">
  <div class="heading-div">
    <p class="heading-main">Welcome back, admin!</p>
    <p class="heading-desc">Check out the latest notification, and make sure the campaign is all set.</p>
  </div>
  <div class="profile-div">
      <img alt="" src="/assets/image.png" class="profile-img"/>
      <div class="profile-text">
        <p class="profile-name">Jack Alexander</p>
        <p class="profile-desc">Admin</p>
      </div>
  </div>
</div>