<div class="progress-bar-div">
    <div>
      <div class="progress-bar-text">
        <p [class.tex-color]="status === 'Templates'">Templates</p>
        <p [class.tex-color]="status === 'Edit'">Edit</p>
        <p [class.tex-color]="status === 'Recipients'">Recipients </p>
        <p [class.tex-color]="status === 'Delivery'">Delivery</p>
      </div>
      <div class="progress-bar">
        <div class="progress-bar-status" [ngStyle]="{'left': getMarginLeft()}"></div>
      </div>
    </div>
    <div class="create-btn" (click)="onCreateNewClick()">
      <mat-icon style="cursor: pointer">add</mat-icon>
      <p>Create New</p>
    </div>
  </div>