<div class="editor-section">
<div class="editor" 
>
<div class="create-btn" (click)="saveContent()"><p>Save</p></div>
<div class="editor-heading">
  <p>Template Editor</p>
</div>
<editor
apiKey="jdo0ezd8nc2oa2w5pwc8m03jdn8ffj1rgj2ttcz95l9568ct"
[(ngModel)]="content"
class="box"
[init]="{
  menubar: false,
  plugins: [
  ],
  toolbar:
    'undo redo | formatselect | bold italic backcolor | \
    alignleft aligncenter alignright alignjustify | \
    bullist numlist outdent indent | removeformat | help',
    resize: false
}"
></editor>
</div>
<div class="editor-setting-box">
<div class="editor-setting">
<div class="editor-setting-btn">
  <p>Template Setting</p>
  <mat-icon>arrow_drop_down</mat-icon>
</div>
</div>
</div>
</div>