<div class="bo-con">
  <div class="box-div">
    <div class="email-templates-heading">
      <img src='/assets/email-temp.png' alt='' />
      <p>Email Templates</p>
    </div>
    <div class="email-templates"  #templateContainer>
      <div class="emails" *ngFor="let template of displayedTemplates" (click)="loadTemplate(template.emailHead)">
        <img [src]="template.imgSrc" alt="" />
        <div class="emails-text">
          <p class="emails-head">{{ template.emailHead }}</p>
          <p class="emails-desc">{{ template.emailDesc }}</p>
        </div>
      </div>
      <div class='showMore-btn' *ngIf="shouldShowButton()">
        <p class='showMore' (click)="toggleShowAll()">{{ buttonText }}</p>
      </div>
      <div class='campaigns-head'>
        <div class="email-templates-heading">
          <img src='/assets/campaigns.png' alt='' />
          <p>Campaigns</p>
        </div>
      </div>
      <div class="campaigns">
        <div class="container-graph">
          <div class="circle-container">
            <svg width="100" height="100" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <circle r="40" cx="40" cy="40" fill="transparent" stroke="#ccc" stroke-width="8" />
              <circle r="40" cx="40" cy="40" fill="transparent" [attr.stroke]="getStrokeColor(percentage)"
                stroke-width="8" [attr.stroke-dasharray]="circumference" [attr.stroke-dashoffset]="dashoffset"
                transform="rotate(-70, 40, 40)" />
            </svg>
            <div class="percentage">
              <p>{{ percentage }}%</p>
            </div>
            <p class="status">Active</p>
          </div>

          <div class="circle-container">
            <svg width="100" height="100" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <circle r="40" cx="40" cy="40" fill="transparent" stroke="#ccc" stroke-width="8" />
              <circle r="40" cx="40" cy="40" fill="transparent" [attr.stroke]="getStrokeColor(percentage)"
                stroke-width="8" [attr.stroke-dasharray]="circumference" [attr.stroke-dashoffset]="Sdashoffset"
                transform="rotate(-70, 40, 40)" />
            </svg>
            <div class="percentage">
              <p>{{ Spercentage }}%</p>
            </div>
            <p class="status">Pending</p>

          </div>

          <div class="circle-container">
            <svg width="100" height="100" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <circle r="40" cx="40" cy="40" fill="transparent" stroke="#ccc" stroke-width="8" />
              <circle r="40" cx="40" cy="40" fill="transparent" [attr.stroke]="getStrokeColor(percentage)"
                stroke-width="8" [attr.stroke-dasharray]="circumference" [attr.stroke-dashoffset]="Pdashoffset"
                transform="rotate(-70, 40, 40)" />
            </svg>
            <div class="percentage">
              <p>{{ Ppercentage }}%</p>
            </div>
            <p class="status">Spam</p>

          </div>
          <div class="circle-container">
            <svg width="100" height="100" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <circle r="40" cx="40" cy="40" fill="transparent" stroke="#ccc" stroke-width="8" />
              <circle r="40" cx="40" cy="40" fill="transparent" [attr.stroke]="getStrokeColor(percentage)"
                stroke-width="8" [attr.stroke-dasharray]="circumference" [attr.stroke-dashoffset]="Qdashoffset"
                transform="rotate(-70, 40, 40)" />
            </svg>
            <div class="percentage">
              <p>{{ Qpercentage }}%</p>
            </div>
            <p class="status">Sent</p>

          </div>
        </div>
        <div class='campaigns-text'>
          <p class="emails-head">Schedule</p>
          <p class="emails-desc">2024 <svg width="8" height="4" viewBox="0 0 8 4" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M4 4L0 1L1.33396 0L4 2L6.66604 0L8 1L4 4Z" fill="#505868" />
            </svg>
          </p>
          <div class="campaigns-cln">
            <div style="justify-content: flex-start ; width: 16%" class="row-head">
              <p>SR.</p>
            </div>
            <div style="justify-content: center" class="row-head">
              <p>DATE &amp; TIME</p>
            </div>
            <div style="justify-content: center ; width: 24%" class="row-head">
              <p>TARGET</p>
            </div>
            <div style="justify-content: center" class="row-head">
              <p>STATUS</p>
            </div>
            <div style="justify-content: flex-end" class="row-head">
              <p>ACTION</p>
            </div>
          </div>
          <div class="campaigns-row" *ngFor="let campaign of campaignsData">
            <div style="justify-content: flex-start ; width: 16%" class="row-head">
              <p>{{ campaign.id }}</p>
            </div>
            <div style="justify-content: center" class="row-head">
              <p>{{ campaign.dateTime }}</p>
            </div>
            <div style="justify-content:center ; width: 24%" class="row-head">
              <p>{{ campaign.target }}</p>
            </div>
            <div style="justify-content: center" class="row-head">
              <button class="campaigns-btn" [style.background]="campaign.statusColor">
                <span class="campaigns-btn-icon">
                  <mat-icon [style.color]="campaign.statusColor">{{ campaign.icon }}</mat-icon>
                </span>
                <p>{{ campaign.status }}</p>
              </button>
            </div>
            <div style="justify-content: flex-end" class="row-head">
              <p style="cursor: pointer">View &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Delete</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>