.tox-statusbar
 display: none !important



.tox .tox-editor-container
 height: 100% !important
 border-radius: 0px !important


.tox-tinymce
 height: 100% !important
 border-radius: 0px !important

tbody, td, tfoot, th, thead, tr
 border-style: none !important
 border-width: 0px !important

.p-radiobutton-box
 background: #D9D9D9 !important
 height: 16px !important
 width: 16px !important
 margin-top: 4px !important

.p-radiobutton-icon
 background-color: #F1574D !important

.p-radiobutton-box.p-highlight
 border-color: #F1574D !important

.p-radiobutton:hover
 border-color: #F1574D !important

.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus
 box-shadow: 0 0 0 0.2rem  transparent !important

.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover
 border-color: #F1574D !important
 background-color: #F1574D !important

.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover
  border-color: #F1574D !important
  background-color: #F1574D !important

.p-datepicker table td
 padding: 3px !important

.p-datepicker
 background: transparent !important
 border: none !important

.p-datepicker .p-datepicker-header
 background: transparent !important
 border-bottom: none !important
 padding: 0px !important
 justify-content: space-around !important
 width: 212px !important
 margin-left: 52px !important

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year, .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month
 padding: 0.3rem !important

.p-datepicker table td > span.p-highlight
 color:  #ffff !important
 background:  #F1574D !important

.p-datepicker-month:hover
 color:  #F1574D !important

.p-datepicker-year:hover
 color:  #F1574D !important

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider
 background:  #f79a94 !important
 height: 17px !important

.p-inputswitch .p-inputswitch-slider
 height: 17px !important

.p-inputswitch.p-focus .p-inputswitch-slider
 box-shadow: none !important

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before
 background:  #F1574D !important
 margin-top: -10px !important 
 height: 20px !important
 width: 20px !important
 left: 14px !important

.p-inputswitch .p-inputswitch-slider:before
 height: 20px !important
 width: 20px !important
 margin-left: -7px !important 
 background:  darkgrey !important
 

.p-calendar-timeonly
 width: 56px !important 
 height: 24px !important 
 border-radius: 4px !important 
 margin-top: -2px !important

.p-inputtext
 font-size: 11px !important 
 padding: 4px !important 
 color: #505868 !important 
 font-family: Open Sans !important
 background: #F4F4F4 !important

 
.p-datepicker-timeonly
 background: #FFFF !important
 padding: 2px !important
 margin-left: -9px !important

.p-timepicker
 padding: 0px !important

.p-timepicker span
 font-size: 12px

.p-timepicker button svg
 width: 10px !important
 height: 11px!important

.p-timepicker button 
 width: 10px !important
 height: 10px!important

.p-timepicker > div
 padding: 0px 2px !important 
 

.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext
 border-color:  #F1574D !important
 box-shadow: none !important

.p-inputtext:enabled:hover
 border-color:  #F1574D !important

.p-dropdown
 border: none !important

.p-dropdown span
 background: #FFFF !important
 font-size: 12px !important

.p-dropdown:not(.p-disabled).p-focus
 box-shadow: none !important 

.p-dropdown-panel .p-dropdown-items
 padding: 0px !important 

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus
 background: #FFFF !important

.p-dropdown .p-dropdown-trigger
 width: 1rem !important

.p-dropdown .p-dropdown-trigger svg
 width: 10px !important
 height: 10px !important

.p-dropdown .p-dropdown-clear-icon
 display: none !important

.bootstrap.ng2-tag-input.ng2-tag-input--focused[_ngcontent-ng-c3083841879]
 border-bottom: 2px solid #F1574D !important

.bootstrap[_ngcontent-ng-c3083841879] tag[_ngcontent-ng-c3083841879]
 background:  #F1574D !important

.tag__text[_ngcontent-ng-c1023309797]
 font-size: 13px !important
 font-weight: 400 !important

.tag-wrapper[_ngcontent-ng-c1023309797]
 margin-top: -3px !important

.bootstrap.ng2-tag-input[_ngcontent-ng-c3083841879]
  min-height: 181px
  max-height: 181px
  overflow: scroll