.tox-statusbar
 display: none !important



.tox .tox-editor-container
 height: 100% !important
 border-radius: 0px !important


.tox-tinymce
 height: 100% !important
 border-radius: 0px !important

tbody, td, tfoot, th, thead, tr
 border-style: none !important
 border-width: 0px !important