<div class="main-section">
  <div class="main-heading">
    <p>Add Recipients</p>
  </div>
  <div class="add-email-div">
    <div class="first-box">
            <div class="radio-btn">
                <div class="align-items-center">
                    <p-radioButton name="recipientType" value="CSV/Excel" [(ngModel)]="recipientType" (click)="logSelectedValue(recipientType)"></p-radioButton>
                    <label for="recipientType1" class="label" [ngClass]="{'selected': recipientType === 'CSV/Excel'}">Add CSV/Excel Sheet</label>
                </div>
                
                <div class="align-items-center">
                    <p-radioButton name="recipientType" value="Manual" [(ngModel)]="recipientType" (click)="logSelectedValue(recipientType)"></p-radioButton>
                    <label for="recipientType2" class="label" [ngClass]="{'selected': recipientType === 'Manual'}">Manual Users</label>
                </div>
        </div>
        <p class="first-box-text">Select the audience you want to sent your email campaign. </p>

        <div class="upload-btn" *ngIf="recipientType === 'CSV/Excel'" (click)="openFileUpload()">
          <label for="fileUpload" class="file-upload-label" (click)="openFileUpload()">Upload CSV/Excel</label>
          <input type="file" id="fileUpload" (change)="onFileSelected($event)" style="display: none">
              </div>
       <div *ngIf="recipientType === 'Manual'">
          <input class='manual-input'  type="text" placeholder="Enter Email" #emailInput (input)="onInputChange()" [formControl]="emailFormControl" (keyup.enter)="onEnter()">
          <mat-icon *ngIf="showCancelIcon" (click)="clearInput()">cancel</mat-icon>
          <div class="error-message" *ngIf="emailFormControl.hasError('email') && showError" class="error-message">
            Please enter a valid email address.
        </div>
        </div>
        
    </div>
    <div class="email-box">
      <tag-input [ngModel]="toEmails" [displayBy]="'label'" [identifyBy]="'label'" [theme]="'bootstrap'"
      name="toEmails" placeholder="+ To" [separatorKeyCodes]="[32, 188]" secondaryPlaceholder="To"
      [errorMessages]="errorMessages"  [removable]="true" [removable]="true" [validators]='validators' >
      <tag-input-dropdown [dynamicUpdate]="false" [zIndex]="10000" [displayBy]="'label'"
        [identifyBy]="'label'" [showDropdownIfEmpty]="true" >
        <ng-template let-item="item" let-index="index">
          {{ item.label }}
        </ng-template>
      </tag-input-dropdown>
    </tag-input>
  </div>

  </div>
</div>